main {
    height: 100vh;
}

#myBar{
    background-color: #DC3545;
    height: 25px;
}

.btn-outline-danger{
    background-color: transparent;
}
.btn-outline-light{
    background-color: transparent;
}
.bgTr{
    background-color: rgb(255, 254, 254, 0.9);
}

.hide {
    display: none;
}


.shake {
    animation: shake 0.5s;
}

.s2 {
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgb(255, 174, 174);
    background: linear-gradient(25deg, #89775C 0%, #DC3545 100%);
    overflow-x: hidden;
    padding-top: 60px;
    transition: ease-in-out 0.3s;

}

@keyframes shake {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translate(2em);
    }

    40% {
        transform: translate(-2em);
    }

    60% {
        transform: translate(2em);
    }

    80% {
        transform: translate(-2em);
    }

    100% {
        transform: translate(0);
    }
}

